
<div class=" jumbotron bg-accent mt-4">
  <h1 class="display-4 text-primary">Bestuur</h1>
  <p class="lead text-primary">De beste stuurlui staan aan wal</p>
  <hr class="my-4">
  <p class=text-dark>KSK is een club die enkel kan bestaan door de talloze vrijwilligers. Heb jij zin om ons een handje te helpen of wil je toetreden tot het bestuur, laat ons dan zeker iets weten!</p>
  <p class="lead">
    <a class="btn btn-primary" href="mailto:secretariaatkskklinge@telenet.be" role="button">Meer info</a>
  </p>
</div>
<div class="row">
  <div class="col-12 col-md-6">
    <h2 class="text-center text-primary">Algemeen bestuur</h2>
    <ul class="list-group ">
      <li class="list-group-item bg-ksk text-dark"><strong>Ere-voorzitter </strong><br />??</li>
      <li class="list-group-item bg-ksk text-dark"><strong>Ere-secretaris </strong><br />Jozef Verbraeken</li>
      <li class="list-group-item bg-ksk text-dark"><strong>Voorzitter </strong><br />Chris Scheerders</li>
      <li class="list-group-item bg-ksk text-dark"><strong>Secretaris </strong><br />Nicholas De Vet</li>
      <li class="list-group-item bg-ksk text-dark"><strong>Penningsmeester </strong><br />Bart Janssen</li>
      <li class="list-group-item bg-ksk text-dark"><strong>Jeugdcoördinator </strong><br />Kurt Van Mele</li>
    </ul>
  </div>
  <div class="col-12 col-md-6">
    <h2 class="text-center text-primary">Bestuursleden</h2>
    <ul class="list-group ">
      <li class="list-group-item bg-accent text-primary">Paul Reyns</li>
      <li class="list-group-item bg-accent text-primary">Alwin Jonkers</li>
      <li class="list-group-item bg-accent text-primary">Dieter Jonkers</li>
      <li class="list-group-item bg-accent text-primary"></li>
      <li class="list-group-item bg-accent text-primary"></li>
      <li class="list-group-item bg-accent text-primary"></li>
    </ul>
  </div>
</div>
