<div class=" jumbotron bg-accent mt-4">
<h1 class="display-4 text-primary">Ligging</h1>

</div >
<div class="row justify-content-center">
  <div class="col-12 col-lg-8 col-xl-6">
    <div class="embed-responsive embed-responsive-1by1 mapFrame m-3">
  <iframe class=" embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.2001501027617!2d4.075618115760615!3d51.2522240795939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbbd1cff8880fa39e!2sKSK+Klinge!5e0!3m2!1snl!2sus!4v1517098508256"></iframe>
</div>

  </div>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-body bg-ksk">
      <h3 class="card-title text-dark text-center">Komende van Antwerpen</h3>
      <p class="lead text-dark">
        Neem afslag 11-Kemzeke op de E-34<br />Op de rotonde neem je de 2de afslag richting Hulst<br />Sla rechtsaf richting Klingestraat/Buitenstraat<br />Sla linksaf aan café 'De Oude Statie'<br />U vindt verderop het terrein van KSK Klinge
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body bg-accent">
      <h3 class="card-title text-dark text-center">Komende van Gent</h3>
      <p class="lead text-dark">
        Neem afslag 11-Kemzeke op de E-34<br />
Op de rotonde neem je de 4de afslag richting Hulst
<br />
Ga de volgende rotonde over
<br />
Sla rechtsaf richting Klingestraat/Buitenstraat
<br />
Sla linksaf aan café 'De Oude Statie'
<br />
U vindt verderop het terrein van KSK Klinge
      </p>
    </div>
  </div>

</div>
