
  <div *ngIf="checkPath() && screen <= 992">
    <mat-sidenav-container>
      <mat-sidenav #sidebar mode="over">
        <div class="sidebarWidth ">
          <button type="button" class="close float-right" aria-label="Close" (click)=sidebar.close()>
          <span aria-hidden="true">&times;</span>
        </button>
          <div class="row p-3 justify-content-center">
            <div class="col-lg-6 col-md-10">
              <h1 class="text-hide">KSK Klinge</h1>
              <a routerLink="/home"><img src="assets/img/logo.png" class="img-fluid rounded"/></a>

            </div>
          </div>
          <div class="row">
            <div class="col ">
              <div class="list-group m-4 bg-ksk">
                <a routerLink="/home" routerLinkActive="bg-primary text-secondary" (click)="sidebar.close()" class="list-group-item list-group-item-action">KSK Klinge<span class="float-right"><i class="material-icons">home</i></span></a>
                <a (click)="showTeam()" [ngClass]="{'bg-activeAccent': show1}" class="hoverable list-group-item list-group-item-action text-grey">Senioren<span class="float-right text-grey"><i class="material-icons">people</i></span></a>
                <div class="list-group" [ngClass]="{'border-secondary border': show1}">
                  <a [@fadeInAnim]="show1" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/senioren/aploeg"><span class="float-right"><i class="material-icons">format_color_text</i></span> Senioren</a>
                  <a [@fadeInAnim3]="show1" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/senioren/zondagsreserven"><span class="float-right"><i class="material-icons">copyright</i></span> Zondagsreserven</a>
                </div>
                <a (click)="showYouth()" [ngClass]="{'bg-activeAccent': show2}" class="list-group-item list-group-item-action text-grey"><span class="float-right text-grey"><i class="material-icons">face</i></span>Jeugd</a>
                <div class="list-group bg-accent" [ngClass]="{'border-secondary border': show2}">
                  <a [@fadeInAnim]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u6"><span class="float-right"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span> U6</a>
                  <a [@fadeInAnim]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u7"><span class="float-right"><i class="fa fa-plane" aria-hidden="true"></i></span> U7</a>
                  <a [@fadeInAnim2]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u8"><span class="float-right"><i class="fa fa-fighter-jet" aria-hidden="true"></i></span> U8</a>
                  <a [@fadeInAnim2]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u9"><span class="float-right"><i class="fa fa-space-shuttle" aria-hidden="true"></i></span> U9</a>
                  <a [@fadeInAnim3]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u11"><span class="float-right"><i class="fa fa-rocket" aria-hidden="true"></i></span> U11</a>
                  <a [@fadeInAnim3]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u13"><span class="float-right"><i class="fa fa-soccer-ball-o" aria-hidden="true"></i></span> U13</a>
                  <a [@fadeInAnim4]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u15"><span class="float-right"><i class="fa fa-trophy" aria-hidden="true"></i></span> U15</a>
                  <a [@fadeInAnim4]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/u17"><span class="float-right"><i class="fa fa-star-o" aria-hidden="true"></i></span> U17</a>
                  <a [@fadeInAnim4]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/jeugd/nieuws"><span class="float-right"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span> Nieuws</a>
                </div>

                <a (click)="showClub()" [ngClass]="{'bg-activeAccent': show3}" class="list-group-item list-group-item-action text-grey hoverable"><span class="float-right text-grey"><i class="material-icons">store</i></span>Club</a>
                <div class="list-group" [ngClass]="{'border-secondary border': show3}">
                  <a [@fadeInAnim]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/club/bestuur"><span class="float-right"><i class="fa fa-sitemap" aria-hidden="true"></i></span> Bestuur</a>
                  <a [@fadeInAnim]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/club/info"><span class="float-right"><i class="material-icons">info_outline</i></span> Info</a>
                  <a [@fadeInAnim2]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/club/ligging"><span class="float-right"><i class="material-icons">location_on</i></span> Ligging</a>
                  <a [@fadeInAnim2]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/club/contact"><span class="float-right"><i class="material-icons">phone</i></span> Contact</a>
                  <a [@fadeInAnim3]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/club/documenten"><span class="float-right"><i class="fa fa-files-o" aria-hidden="true"></i></span> Nuttige documenten</a>
                  <a [@fadeInAnim3]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/club/links"><span class="float-right"><i class="material-icons">link</i></span> Links</a>
                  <a [@fadeInAnim4]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" (click)="sidebar.close()" routerLink="/club/nieuws"><span class="float-right"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span> Nieuws</a>
                </div>
                <a routerLink="/supporters" routerLinkActive="bg-primary text-secondary" (click)="sidebar.close()" class="list-group-item list-group-item-action">Supporters<span class="float-right"><i class="fa fa-heart" aria-hidden="true"></i></span></a>
                <a routerLink="/evenementen" routerLinkActive="bg-primary text-secondary" (click)="sidebar.close()" class="list-group-item list-group-item-action">Evenementen<span class="float-right"><i class="material-icons">event</i></span></a>
                <a routerLink="/sponsors" routerLinkActive="bg-primary text-secondary" (click)="sidebar.close()" class="list-group-item list-group-item-action">Sponsors<span class="float-right"><i class="material-icons">flag</i></span></a>
              </div>
            </div>

          </div>
        </div>

      </mat-sidenav>
      <mat-sidenav-content >
        <div class="row bg-ksk p-2 border rounded align-items-center">
          <div class="col">
            <div class="row justify-content-center">
              <div class="col">
                <h2 class="text-secondary hoverable" (click)="sidebar.open()"><i class="fa fa-bars" aria-hidden="true"></i></h2>
              </div>
              <div class="col">
                <h2><a class="text-dark" href="https://www.facebook.com/groups/35796537836/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> </h2>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <div class="d-block d-md-none">
              <h1 class="text-hide">KSK Klinge</h1>
              <a routerLink="/home"><img src="assets/img/logo2.png" class="img-fluid rounded"/></a>
            </div>
            <div class="d-none d-md-block">
              <h1 class="text-dark text-center" routerLink="/home">KSK Klinge</h1>
              <small class="text-muted d-block m-l-4 text-secondary">Waar voetbal een feest is</small>
            </div>

          </div>
          <div class="col">
            <div class="row justify-content-center">
              <div class="col">
                <h2><a class="text-dark" href="tel:03/770 56 81"><i class="fa fa-phone" aria-hidden="true"></i></a> </h2>
              </div>
              <div class="col">
                <h2 class="text-secondary"><a class="text-dark" href="https://www.google.be/maps/place/KSK+Klinge/@51.2523569,4.0796667,15z/data=!4m5!3m4!1s0x0:0xbbd1cff8880fa39e!8m2!3d51.2522243!4d4.077808?hl=nl"><i class="fa fa-map-marker" aria-hidden="true"></i></a> </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row m-2 justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="row">
              <div class="col mt-2">
                <a (click)="newSignupAdded(newsletterModal)" class="btn btn-block btn-primary text-white d-none d-sm-block"><i class="fa fa-at align-middle mr-2" aria-hidden="true"></i><span class="align-middle ">Inschrijven nieuwsbrief</span></a>
                <p class="text-center">
                <a (click)="newSignupAdded(newsletterModal)" class="d-block d-sm-none rounded-circle" tooltip="Inschrijven voor nieuwsbrief"><i class="fa fa-at align-middle mr-2" aria-hidden="true"></i></a>
                </p>
              </div>
              <div class="col mt-2">
                <a href="https://chat.whatsapp.com/JFQmjOzI1mS2HqdF7okJRn" class="btn btn-block btn-primary text-white d-none d-sm-block"><i class="fa fa-whatsapp align-middle mr-2" aria-hidden="true"></i><span class="align-middle ">Supporters KSK Klinge</span></a>
                <p class="text-center">
                  <a href="https://chat.whatsapp.com/JFQmjOzI1mS2HqdF7okJRn" class="d-block d-sm-none rounded-circle" tooltip="Deelnemen aan Whatsapp 'Supporters KSK Klinge'"><i class="fa fa-whatsapp align-middle mr-2" aria-hidden="true"></i></a>
                </p>
              </div>
            </div>
          </div>


        </div>
        <router-outlet></router-outlet>
        <div class="jumbotron">
          <div class="row justify-content-center" *ngIf="mainSponsors && mainSponsors.length > 0">

            <div class="col-12 col-lg-8 col-xl-6">
              <div class="row justify-content-center">
                <div class="col-md-4 mt-3 col-xs-12" *ngFor="let sponsor of mainSponsors">
                  <div *ngIf="sponsor.website && sponsor.website != ''">
                    <a [href]="sponsor.website"><img class="img-fluid" [src]="sponsor.fotoUrl" [alt]="sponsor.naam" /></a>
                  </div>
                  <div *ngIf="!sponsor.website || sponsor.website == ''">
                    <img class="img-fluid" [src]="sponsor.fotoUrl" [alt]="sponsor.naam" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </div>
  <div *ngIf="checkPath() && screen > 992" [style.height.px] = "height" >
    <div class="row bg-ksk p-2 border rounded align-items-center">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col">
            <h2 class="text-secondary hoverable" (click)="sidebarToggle()"><i class="fa fa-bars" aria-hidden="true"></i></h2>
          </div>
          <div class="col">
            <h2><a class="text-dark" href="https://www.facebook.com/groups/35796537836/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> </h2>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="d-block d-md-none">
          <h1 class="text-hide">KSK Klinge</h1>
          <a routerLink="/home"><img src="assets/img/logo2.png" class="img-fluid rounded"/></a>
        </div>
        <div class="d-none d-md-block">
          <h1 class="text-dark text-center" routerLink="/home">KSK Klinge</h1>
          <h5><small class="text-muted d-block m-l-4 text-secondary">Waar voetbal een feest is</small></h5>
        </div>

      </div>
      <div class="col">
        <div class="row justify-content-center">
          <div class="col">
            <h2><a class="text-dark" href="tel:03/770 56 81"><i class="fa fa-phone" aria-hidden="true"></i></a> </h2>
          </div>
          <div class="col">
            <h2 class="text-secondary"><a class="text-dark" href="https://www.google.be/maps/place/KSK+Klinge/@51.2523569,4.0796667,15z/data=!4m5!3m4!1s0x0:0xbbd1cff8880fa39e!8m2!3d51.2522243!4d4.077808?hl=nl"><i class="fa fa-map-marker" aria-hidden="true"></i></a> </h2>
          </div>

        </div>

      </div>
    </div>

    <mat-sidenav-container style="min-height: 100vw">
      <mat-sidenav #sidebar mode="side"  [opened]="sbOpen" fixedTopGap="100" fixedInViewport="true">
        <div class="sidebarWidth ">
          <div class="row">
            <div class="col ">
              <div class="list-group m-4 bg-ksk">
                <a routerLink="/home" routerLinkActive="bg-primary text-secondary" class="list-group-item list-group-item-action">KSK Klinge<span class="float-right"><i class="material-icons">home</i></span></a>
                <a (click)="showTeam()" [ngClass]="{'bg-activeAccent': show1}" class="list-group-item list-group-item-action text-grey hoverable">Senioren<span class="float-right text-grey"><i class="material-icons">people</i></span></a>
                <div class="list-group" [ngClass]="{'border-secondary border': show1}">
                  <a [@fadeInAnim]="show1" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/senioren/aploeg"><span class="float-right"><i class="material-icons">format_color_text</i></span> Senioren</a>

                  <a [@fadeInAnim3]="show1" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/senioren/zondagsreserven"><span class="float-right"><i class="material-icons">copyright</i></span> Zondagsreserven</a>
                </div>
                <a (click)="showYouth()" routerLink="/jeugd" [ngClass]="{'bg-activeAccent': show2}" class="list-group-item list-group-item-action text-grey"><span class="float-right text-grey"><i class="material-icons">face</i></span>Jeugd</a>
                <div class="list-group bg-accent" [ngClass]="{'border-secondary border': show2}">
                  <a [@fadeInAnim]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u6"><span class="float-right"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></span> U6</a>
                  <a [@fadeInAnim]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u7"><span class="float-right"><i class="fa fa-plane" aria-hidden="true"></i></span> U7</a>
                  <a [@fadeInAnim2]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u8"><span class="float-right"><i class="fa fa-fighter-jet" aria-hidden="true"></i></span> U8</a>
                  <a [@fadeInAnim2]="show2" class="pl-5 list-group-item list-group-item-action " routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u9"><span class="float-right"><i class="fa fa-space-shuttle" aria-hidden="true"></i></span> U9</a>
                  <a [@fadeInAnim3]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u11"><span class="float-right"><i class="fa fa-rocket" aria-hidden="true"></i></span> U11</a>
                  <a [@fadeInAnim3]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u13"><span class="float-right"><i class="fa fa-soccer-ball-o" aria-hidden="true"></i></span> U13</a>
                  <a [@fadeInAnim4]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u15"><span class="float-right"><i class="fa fa-trophy" aria-hidden="true"></i></span> U15</a>
                  <a [@fadeInAnim4]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/u17"><span class="float-right"><i class="fa fa-star-o" aria-hidden="true"></i></span> U17</a>
                  <a [@fadeInAnim4]="show2" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/jeugd/nieuws"><span class="float-right"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span> Nieuws</a>
                </div>

                <a (click)="showClub()" [ngClass]="{'bg-activeAccent': show3}" class="list-group-item list-group-item-action text-grey hoverable"><span class="float-right text-grey"><i class="material-icons">store</i></span>Club</a>
                <div class="list-group" [ngClass]="{'border-secondary border': show3}">
                  <a [@fadeInAnim]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/club/bestuur"><span class="float-right"><i class="fa fa-sitemap" aria-hidden="true"></i></span> Bestuur</a>
                  <a [@fadeInAnim]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/club/info"><span class="float-right"><i class="material-icons">info_outline</i></span> Info</a>
                  <a [@fadeInAnim2]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/club/ligging"><span class="float-right"><i class="material-icons">location_on</i></span> Ligging</a>
                  <a [@fadeInAnim2]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/club/contact"><span class="float-right"><i class="material-icons">phone</i></span> Contact</a>
                  <a [@fadeInAnim3]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/club/documenten"><span class="float-right"><i class="fa fa-files-o" aria-hidden="true"></i></span> Nuttige documenten</a>
                  <a [@fadeInAnim3]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/club/links"><span class="float-right"><i class="material-icons">link</i></span> Links</a>
                  <a [@fadeInAnim4]="show3" class="pl-5 list-group-item list-group-item-action" routerLinkActive="text-secondary bg-primary" routerLink="/club/nieuws"><span class="float-right"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span> Nieuws</a>
                </div>
                <a routerLink="/supporters" routerLinkActive="bg-primary text-secondary" class="list-group-item list-group-item-action">Supporters<span class="float-right"><i class="material-icons">favorite</i></span></a>
                <a routerLink="/evenementen" routerLinkActive="bg-primary text-secondary" class="list-group-item list-group-item-action">Evenementen<span class="float-right"><i class="material-icons">event</i></span></a>
                <a routerLink="/sponsors" routerLinkActive="bg-primary text-secondary" class="list-group-item list-group-item-action">Sponsors<span class="float-right"><i class="material-icons">flag</i></span></a>
              </div>
            </div>

          </div>
        </div>

      </mat-sidenav>
      <mat-sidenav-content >
        <div class="row mt-2 justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="row">
              <div class="col mt-2">
                <button (click)="newSignupAdded(newsletterModal)" class="btn btn-block btn-primary text-white" placement="bottom" tooltip="Inschrijven voor nieuwsbrief"><i class="fa fa-at align-middle mr-2" aria-hidden="true"></i>
                  <span class="align-middle">Blijf op de hoogte van alle nieuws rond KSK</span></button>
              </div>
              <div class="col mt-2">
                <a href="https://chat.whatsapp.com/JFQmjOzI1mS2HqdF7okJRn" class="btn btn-block btn-primary text-white"><i class="fa fa-whatsapp align-middle mr-2" aria-hidden="true"></i><span class="align-middle"> "Supporters KSK Klinge"</span></a>
              </div>
            </div>
          </div>


        </div>
        <div class="m-4">

          <router-outlet></router-outlet>
       </div>
        <div class="jumbotron">
          <div class="row justify-content-center" *ngIf="mainSponsors && mainSponsors.length > 0">

            <div class="col-12 col-lg-8 col-xl-6">
              <div class="row justify-content-center">
                <div class="col-md-4 mt-3 col-xs-12" *ngFor="let sponsor of mainSponsors">
                  <div *ngIf="sponsor.website && sponsor.website != ''">
                    <a [href]="sponsor.website"><img class="img-fluid" [src]="sponsor.fotoUrl" [alt]="sponsor.naam" /></a>
                  </div>
                  <div *ngIf="!sponsor.website || sponsor.website == ''">
                    <img class="img-fluid" [src]="sponsor.fotoUrl" [alt]="sponsor.naam" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row justify-content-center mt-4">
            <div class="col text-center">
                <h2><a class="text-dark" href="https://www.facebook.com/groups/35796537836/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> </h2>
            </div>
            <div class="col text-center">
                <h2><a class="text-dark" href="tel:03/770 56 81"><i class="fa fa-phone" aria-hidden="true"></i></a> </h2>
            </div>
            <div class="col text-center">
                <h2 class="text-secondary"><a class="text-dark" href="https://www.google.be/maps/place/KSK+Klinge/@51.2523569,4.0796667,15z/data=!4m5!3m4!1s0x0:0xbbd1cff8880fa39e!8m2!3d51.2522243!4d4.077808?hl=nl"><i class="fa fa-map-marker" aria-hidden="true"></i></a> </h2>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <p class="text-primary">Ontworpen door <a class="text-secondary font-underline" href="mailto:vanduysebert@gmail.com">KSK-fan</a></p>
            </div>

          </div>

        </div>




      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>

  <div *ngIf="checkPath() == false">
    <div class="row">
      <div class="col">
        <h2 class="text-center"><a class="text-primary" routerLink="/api">KSK Klinge API</a></h2>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

  <ng-template #newsletterModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Nieuwsbrief</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <form #newSubscriberForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-12 col-md-6 form-group">
            <label for="subscriberFirstName" class="text-primary">Voornaam</label>
            <input class="form-control" [ngClass]="{'is-valid': vnaam.valid, 'text-danger is-invalid': vnaam.invalid}" [(ngModel)]="subscriber.voornaam" #vnaam="ngModel" name="vnaam" required id="subscriberFirstName" type="text" value="subscriber.voornaam">
            <div class="invalid-feedback">Voornaam is vereist</div>
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="subscriberName" class="text-primary">Familienaam</label>
            <input class="form-control" [ngClass]="{'is-valid': naam.valid, 'text-danger is-invalid': naam.invalid}" [(ngModel)]="subscriber.naam" #naam="ngModel" name="naam" required id="subscriberName" type="text" value="subscriber.naam">
            <div class="invalid-feedback">Familienaam is vereist</div>
          </div>
        </div>

        <div class="form-row justify-content-center">
          <div class="col-12 form-group">
            <label for="mail" class="text-primary">Email</label>
            <input class="form-control" placeholder="Email" required [ngClass]="{'is-valid': mail.valid, 'text-danger is-invalid': mail.invalid}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="subscriber.email" #mail="ngModel" name="mail" id="mail" type="text" value=""> </div>
        </div>

        <div class="form-row mt-2">
          <div class="col-12 form-group">
            <div class="btn-group">
              <button class="btn btn-success" [disabled]="!newSubscriberForm.form.valid" type="submit" name="action">Inschrijven</button>
              <button class="btn btn-danger" (click)="modalRef.hide()">Annuleer</button>
            </div>
          </div>
        </div>
      </form>
  </div>
  </ng-template>
