<div class=" jumbotron bg-accent mt-4">
<h1 class="display-4 text-primary">Info</h1>

</div >
<div class="card-group">
  <div class="card">
    <div class="card-body bg-ksk">
      <h3 class="card-title text-dark text-center">K.S.K. Klinge</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-primary bg-ksk"><strong>Stamnummer</strong><br />04211</li>
        <li class="list-group-item text-primary bg-ksk"><strong>BTW-nr</strong><br />423.713.618</li>
        <li class="list-group-item text-primary bg-ksk"><strong>Clubkleuren</strong><br />Oranje - Blauw - Blauw</li>
        <li class="list-group-item text-primary bg-ksk"><strong>Terrein</strong><br />Buitenstraat 9, 9170 De Klinge<br />03/770 56 81</li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body bg-accent">
      <h3 class="card-title text-dark text-center">Gerechtigd correspondent</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-primary bg-accent lead font-weight-bold">Nicholas De Vet</li>
        <li class="list-group-item text-primary bg-accent"><strong>Adres</strong><br />Aststraat 31<br />9170 Sint-Gillis-Waas</li>
        <li class="list-group-item text-primary bg-accent"><strong>Contact</strong><br /><i class="fa fa-phone" aria-hidden="true"></i> 0497/29 48 33<br /><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:secretariaatkskklinge@telenet.be">secretariaatkskklinge@telenet.be</a></li>
        <li class="list-group-item text-primary bg-accent"><strong>Functie</strong><br />Houder blauwe kaart <br />Gerechtigd correspondent<br />Secretaris</li>
      </ul>
    </div>
  </div>

</div>
