<div class=" jumbotron bg-accent mt-4">
<h1 class="display-4 text-primary">Info</h1>

</div >
<div class="card-group">
  <div class="card">
    <div class="card-body bg-ksk">
      <h3 class="card-title text-dark text-center">K.S.K. Klinge</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-primary bg-ksk"><strong>Stamnummer</strong><br />04211</li>
        <li class="list-group-item text-primary bg-ksk"><strong>BTW-nr</strong><br />423.713.618</li>
        <li class="list-group-item text-primary bg-ksk"><strong>Clubkleuren</strong><br />Oranje - Blauw - Blauw</li>
        <li class="list-group-item text-primary bg-ksk"><strong>Terrein</strong>
          <br /><i class="fa fa-map-marker mr-2" aria-hidden="true"></i><a href="https://www.google.be/maps/place/KSK+Klinge/@51.2523569,4.0796667,15z/data=!4m5!3m4!1s0x0:0xbbd1cff8880fa39e!8m2!3d51.2522243!4d4.077808?hl=nl"> Buitenstraat 9, 9170 De Klinge</a>
          <br /><i class="fa fa-phone mr-2" aria-hidden="true"></i><a href="tel:03/770 56 81"> 03/770 56 81</a></li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body bg-accent">
      <h3 class="card-title text-dark text-center">Gerechtigd correspondent</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-primary bg-accent lead font-weight-bold">Nicholas De Vet</li>
        <li class="list-group-item text-primary bg-accent"><strong>Adres</strong><br />Aststraat 31<br />9170 Sint-Gillis-Waas</li>
        <li class="list-group-item text-primary bg-accent"><strong>Contact</strong>
          <br /><i class="fa fa-phone mr-2" aria-hidden="true"></i><a href="tel:03/770 56 81"> 03/770 56 81</a>
          <br /><i class="fa fa-envelope mr-2" aria-hidden="true"></i> <a href="mailto:secretariaatkskklinge@telenet.be"> secretariaatkskklinge@telenet.be</a></li>
        <li class="list-group-item text-primary bg-accent"><strong>Functie</strong><br />Houder blauwe kaart <br />Gerechtigd correspondent<br />Secretaris</li>
      </ul>
    </div>
  </div>

</div>
