<div class=" jumbotron bg-accent mt-4">
<h1 class="display-4 text-primary">Nuttige documenten</h1>

</div >
<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a target="_blank" href="assets/files/Ongevalform.pdf">Ongevalformulier</a></li>
        <li class="list-group-item"><a target="_blank" href="assets/files/InfoSol.pdf">Info Solidariteitsfonds</a></li>
        <li class="list-group-item"><a target="_blank" href="assets/files/lidgeldBM.pdf">Tegemoetkoming Lidgeld Bond Moyson</a></li>
        <li class="list-group-item"><a target="_blank" href="assets/files/lidgeldCM.pdf">Tegemoetkoming Lidgeld Christelijke Mutualiteit</a></li>
        <li class="list-group-item"><a target="_blank" href="assets/files/lidgeldOZ.pdf">Tegemoetkoming Lidgeld Onafhankelijk Ziekenfonds</a></li>

    </ul>
    <p class="text-primary lead mt-3">
      Inschrijfformulieren, wedstrijdschema's en dergelijke kan je terugvinden op <a class="btn display-inline btn-primary text-white btn-large" href="https://www.facebook.com/groups/35796537836/files/">Onze facebookpagina</a>
    </p>

  </div>
</div>
