<div class=" jumbotron bg-accent mt-4">
<h1 class="display-4 text-primary">Nuttige links</h1>

</div >
<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a target="_blank" href="http://www.belgianfootball.be/nl/afgelastingen">Afgelastingen</a></li>
                               <li class="list-group-item"><a target="_blank" href="http://www.belgianfootball.be/nl/adressen-clubs">Adressen andere clubs</a></li>
                               <li class="list-group-item"><a target="_blank" href="https://www.devoetbalmarkt.be/m/nl/voetbal/uitslagen/mannen/2017-2018/oost-vlaanderen/derde-provinciale-e/">Uitslagen en standen Provinciale ploegen</a></li>
                               <li class="list-group-item"><a target="_blank" href="http://www.facebook.com/pages/KSKKlinge/327246380720462">Post iets op onze Facebook wall</a></li>
                               <li class="list-group-item"><a target="_blank" href="https://twitter.com/kskklinge">Tweet je mening over KSK de wereld in via @kskklinge</a></li>
    </ul>
  </div>
</div>
