
<div class="row carHome">
  <img class="slider responsive-img" [@enterAnimation] src="assets/img/main1.jpg" *ngIf="slide == 1"/>
  <img class="slider responsive-img" [@enterAnimation] src="assets/img/main2.jpg" *ngIf="slide == 2"/>
  <img class="slider responsive-img" [@enterAnimation] src="assets/img/main3.jpg" *ngIf="slide == 3"/>
  <img class="slider responsive-img" [@enterAnimation] src="assets/img/main4.jpg" *ngIf="slide == 4"/>
</div>

<div class="row">

  <div class="col l4 s12 m6">
    <h2 class="center-align">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    </h2>

    <div class="frameResp hide-on-med-and-down">
      <iframe class="responsive-table" src="http://www.voetbalkrant.com/service/noscript.php?id=1190" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="frameResp hide-on-large-only">
      <iframe class="responsive-table" src="http://www.voetbalkrant.com/service/noscript.php?id=1193" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

  <div class="col l4 s12 m6">
    <h2 class="center-align">

    </h2>

  </div>
  <div class="col l4 s12 m6">
    <h2 class="center-align">
      Jeugd
    </h2>
  </div>
</div>

<div class="row">


  <div class="col s12 m8">
    <h2 class="center-align">
      Laatste wedstrijd
    </h2>
  </div>
  <div class="col s12 m4">
    <h2 class="center-align">
      Stand
    </h2>
  </div>

</div>
