<div class=" jumbotron bg-accent mt-4">
  <h1 class="display-4 text-primary">Sponsors</h1>
  <p class="lead text-primary">De bouwstenen voor een toegankelijke vereniging</p>
  <hr class="my-4">
  <p class="lead text-dark">Sponsoring stelt ons in staat om KSK Klinge als een open en toegankelijke vereniging te behouden.
De middelen die via sponsoring ter beschikking worden gesteld, zetten we in voor zaken als het onderhoud van de terreinen, de aankoop van materiaal voor de (jeugd)ploegen, het organiseren van sportieve en familie-evenementen, enzovoort...</p>
  <p class="text-primary">
    De onderstaande bedrijven en zelfstandigen steunen KSK Klinge. Ben je zelf ook geïntresseerd, aarzel dan niet om ons te contacteren!

    </p>
    <a class="btn btn-primary display-block" href="mailto:secretariaatkskklinge@telenet.be" role="button">Meer info</a>

</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/KBC.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">KBC verzekeringen</h5>
      <h6 class="text-center"><small class="text-muted">Antwerpen metropool</small></h6>
      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="https://www.kbcagent.be/antwerpenmetropool/where"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
              <a class="text-primary" href="mailto:kantoor.kbc.antwerpen.metropool@verz.kbc.be"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
          <a class="text-primary" href="tel:03 221 06 70"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/logo4repair.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">4 repair</h5>
      <h6 class="text-center"><small class="text-muted">Structural repairs and modifications</small></h6>
      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="http://www.4repair.nl/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
              <a class="text-primary" href="mailto:Info@4repair.nl"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
          <a class="text-primary" href="tel:+31 622 603 155 "><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/logoalinco.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">Alinco</h5>

      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="http://www.alinco.be/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
              <a class="text-primary" href="mailto:info@alinco.be"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
          <a class="text-primary" href="tel:+32 (0)3 780 88 80"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/bakkerijvanduyseFoto.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">Bakkerij Van Duyse</h5>

      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="https://www.goudengids.be/bedrijf/Sint-Gillis-Waas/L2829347/Bakkerij+Van+Duyse/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>

        <div class="col text-center">
          <a class="text-primary" href="tel:03 770 56 30"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/logoclima.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">Clima & partners</h5>
      <h6 class="text-center"><small class="text-muted">Creator of perfect comfort</small></h6>
      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="http://www.climaenpartners.be/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
              <a class="text-primary" href="mailto:info@climaenpartners.be"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
          <a class="text-primary" href="tel:+32 3 466 02 20"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/logoDCS.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">DCS</h5>
      <h6 class="text-center"><small class="text-muted">Uw partner in badkamer- en totaalrenovaties</small></h6>
      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="http://www.dcsinterieur.be/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
              <a class="text-primary" href="mailto:info@dcsinterieur.be"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
          <a class="text-primary" href="tel:03 770 53 36 "><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/logoderijcke.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">Beton De Rijcke</h5>

      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="https://www.goudengids.be/bedrijf/Stekene/L1106509/Beton+Fran%C3%A7ois+De+Rycke/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
              <a class="text-primary" href="mailto:kurt@betonderycke.be"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
          <a class="text-primary" href="tel:03 790 16 30"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/sponsors/logodonckers.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-primary text-center">Donckers</h5>
      <h6 class="text-center"><small class="text-muted">Gereedschappen</small></h6>

      <div class="row">
        <div class="col text-center">
            <a class="text-primary" href="http://www.donckersgereedschappen.be/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
              <a class="text-primary" href="mailto:gereedschappen@donckers.biz"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        </div>
        <div class="col text-center">
          <a class="text-primary" href="tel:03 789 03 90"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>
