<div class=" jumbotron bg-accent mt-4">
  <h1 class="display-4 text-primary">Sponsors</h1>
  <p class="lead text-primary">De bouwstenen voor een toegankelijke vereniging</p>
  <hr class="my-4">
  <p class="lead text-dark">Sponsoring stelt ons in staat om KSK Klinge als een open en toegankelijke vereniging te behouden.
De middelen die via sponsoring ter beschikking worden gesteld, zetten we in voor zaken als het onderhoud van de terreinen, de aankoop van materiaal voor de (jeugd)ploegen, het organiseren van sportieve en familie-evenementen, enzovoort...</p>
  <p class="text-primary">
    De onderstaande bedrijven en zelfstandigen steunen KSK Klinge. Ben je zelf ook geïntresseerd, aarzel dan niet om ons te contacteren!

    </p>
    <a class="btn btn-primary display-block" href="mailto:secretariaatkskklinge@telenet.be" role="button">Meer info</a>

</div>

<div class="card-group row justify-content-center no-gutters">
  <div class="col-md-3 mt-3 col-xs-12" *ngFor="let sponsor of sponsors">
    <div class="card h-100 ">
      <img class="card-img-top" [src]="sponsor.fotoUrl" alt="{{sponsor.naam}}">
      <div class="card-body">
        <h5 class="card-title text-primary text-center">{{sponsor.naam}}</h5>
        <h6 class="text-center" *ngIf="sponsor.slogan == ''"><small class="text-muted text-hide" >Geen slogan</small></h6>
        <h6 class="text-center" *ngIf="sponsor.slogan != ''"><small class="text-muted" >{{sponsor.slogan}}</small></h6>
        <div class="row card-footer">
          <div class="col text-center" *ngIf="sponsor.website != ''">
              <a class="text-primary" [href]="sponsor.website"><i class="fa fa-globe" aria-hidden="true"></i></a>
          </div>
          <div class="col text-center" *ngIf="sponsor.email">
                <a class="text-primary" [href]="'mailto:' + sponsor.email"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </div>
          <div class="col text-center" *ngIf="sponsor.telnr">
            <a class="text-primary" [href]="'tel:'+ sponsor.telnr"><i class="fa fa-phone" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
